/* setting body font*/

body {
  font-size: 14px;
}


/* setting nav positioning, which has only h1 right now*/
nav {
  background-color: yellow; /*fixed lack of hyphen*/
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}


/* this part has all the "div examples" */
section {
  margin: 0 auto;
  width: 60%;
}


/*h1 is used on the "example" text within nav*/
h1 {
  font-family sans-serif;
  font-size: 2em;
}


/* this is an example of nesting*/
.example, h3 {
  padding-top: 30px;
/* found a missing ; */
  text-align center;
}


/*this is specific to h3 and takes precedence cuz it's the last h3 definer
and no ID is present*/
h3 {
  font-size: 1.3em;
}


.element {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
}


/*This is the edit I made to update the bg color for the last 3 div elements*/
.element_2 {
  background-color: pink;
  height: 100px;
  margin 10px 0;
  width: 100%;
}
